[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "==3.7.9"
black = "==19.10b0"

[packages]
flask = "===1.1.1"
flask-restplus = "===0.13.0"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
